@import 'variables';
@import 'breakpoints';
detail-component{
   .detail{
    width: 100%;
    color: #545454;
    margin: 1rem 0rem;
    background-color: $whites;
    border: 0.5 solid $whites;
    border-radius: 0.5rem;
    padding: 1rem 0.9rem;
    -webkit-box-shadow: 1px 1px 18px 0px rgba(109,121,168,1);
    -moz-box-shadow: 1px 1px 18px 0px rgba(109,121,168,1);
     box-shadow: 1px 1px 18px 0px rgba(109,121,168,1);
    img{
        width: 100%;
    }
    h3{
        margin: 1rem 0;
    }
    p{
        font-size: 0.8rem;
        span{
          font-size: 1rem;
          font-weight: bold;
        }
    }
   }
   .review{
    //   background-color: red;
      .review__main{
         margin: 1rem 0;
         background-color: $whites;
         color: rgb(95, 95, 95);
         padding: 1rem;
         -webkit-box-shadow: 1px 1px 18px 0px rgba(109,121,168,1);
         -moz-box-shadow: 1px 1px 18px 0px rgba(109,121,168,1);
          box-shadow: 1px 1px 18px 0px rgba(109,121,168,1);
      }
   }
}

@include lg {
   .review{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
   }
   detail-component{
      width: 100%;
      .detail{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
        align-items: center;
        p{
            font-size: 1rem;
        }
      }
   }
}